<% if jobs.empty? %>
  <div class="alert alert-warning">
    <p>表示できる要素がありません</p>
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">種別名</th>
        <th scope="col">メモ</th>
        <th scope="col">編集</th>
        <th scope="col">削除</th>
      </tr>
    </thead>
    <tbody>
      <% jobs.each do |job| %>
        <tr class="align-middle">
          <td><%= job.name %></td>
          <td><%= job.note.slice(0..29) %></td>
          <td><%= link_to "編集", edit_master_job_path(job.id), class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to "削除", master_job_path(job.id), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate jobs, action: "paginate" %>
<% end %>