<% if users.empty? %>
  <div class="alert alert-warning">
    <p>表示できる要素がありません</p>
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">ログインID</th>
        <th scope="col">名前</th>
        <th scope="col">権限</th>
        <th scope="col">編集</th>
        <th scope="col">削除</th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr class="align-middle">
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.display %></td>
          <td><%= user.permission %></td>
          <td><%= link_to "編集", user_path(user.id), class: "btn btn-outline-primary btn-sm" %></td>
          <td><%= link_to "削除", user_path(user.id), class: "btn btn-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>