<% content_for(:title) { 'パスワード変更' } %>
<% content_for(:back_link) { link_to '←トップページへ戻る', root_path } %>

<h1>パスワードの変更</h1>

<%= form_with url: passwords_update_path do |form| %>

  <div class="login">
    <div class="">
      <%= form.label "ログインID" %>
      <%= form.text_field :name, placeholder: "ログインID", value: @user.name, maxlength: 50, class: "form-control span4" %><br>
    </div>
    <div class="">
      <%= form.label "表示名" %>
      <%= form.text_field :display, placeholder: "表示名", value: @user.display, maxlength: 50, class: "form-control span4" %><br>
    </div>
    <div class="">
      <%= form.label "新しいパスワード" %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "新しいパスワード", maxlength: 72, class: "form-control span4" %><br>
    </div>
    <div class="">
      <%= form.label "確認" %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "確認", maxlength: 72, class: "form-control span4" %><br>
    </div>
    <div class="">
      <%= form.submit "変更" %>
    </div>
  </div>
<% end %>
