<% if content.errors.any? %>
  <div class="alert alert-warning">
    <p>入力エラーがあります<p>
    <% content.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </div>
<% end %>

<%= form_with model: content, url: url do |f| %>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "タイトル", class: "col-form-label" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :title, class: 'form-control', placeholder: 'タイトル' %>
    </div>
  </div>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "仕事名", class: "col-form-label" %>
    </div>
    <div id="job-selector" class="col-md-5 row align-items-center g-2 px-2">
      <div class="col-md-8">
        <input class="form-control" placeholder="選択して下さい" type="text" value="<%= @select[:job] %>" disabled/>
      </div>
      <div class="col-md-2">
        <%= link_to "選択", open_modal_reward_index_path(target: "job"), data: { turbo_stream: true }, class: "btn btn-primary" %>
      </div>
      <% if @select[:job] %>
        <div class="col-md-2 px-2">
          <%= link_to "解除", set_modal_params_reward_index_path(target: "job", value: ""), data: { turbo_stream: true }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
    <%= f.hidden_field :job_id %>
  </div>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "コンテンツ種別名", class: "col-form-label" %>
    </div>
    <div id="content_type-selector" class="col-md-5 row align-items-center g-2 px-2">
      <div class="col-md-8">
        <input class="form-control" placeholder="選択して下さい" type="text" value="<%= @select[:content_type] %>" disabled/>
      </div>
      <div class="col-md-2">
        <%= link_to "選択", open_modal_reward_index_path(target: "content_type"), data: { turbo_stream: true }, class: "btn btn-primary" %>
      </div>
      <% if @select[:content_type] %>
        <div class="col-md-2 px-2">
          <%= link_to "解除", set_modal_params_reward_index_path(target: "content_type", value: ""), data: { turbo_stream: true }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
    <%= f.hidden_field :content_type_id %>
  </div>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "支払額", class: "col-form-label" %>
    </div>
    <div class="col-md-3">
      <%= f.number_field :amount, class: 'form-control', placeholder: 'Max' %>
    </div>
  </div>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "支払先", class: "col-form-label" %>
    </div>
    <div class="col-md-3">
      <%= f.text_field :worker, class: 'form-control', placeholder: '支払先' %>
    </div>
  </div>
  <div class="row align-items-center p-2 g-3">
    <div class="col-md-2">
      <%= f.label "処理日", class: "col-form-label" %>
    </div>
    <div class="col-md-3">
      <%= f.date_field :confirm_date, value: Time.zone.today, class: 'form-control' %>
    </div>
  </div>
  <div class="align-items-center p-2 g-3">
    <div class="">
      <%= f.label "メモ", class: "col-form-label" %>
    </div>
    <div class="">
      <%= f.text_area :note, class: 'form-control', placeholder: 'メモ' %>
    </div>
  </div>
  <div class="p-2">
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>